<!DOCTYPE html>
<html>
<head>
    <title>Rain Prediction</title>
</head>

<body style="background-image: url('https://wnavprd.blob.core.windows.net/images/guide/cape-cod-rainy-day-activities-110-l.jpg');
             background-size: cover;
             background-position: center;
             background-repeat: no-repeat;
             margin: 0;
             height: 100vh;
             text-align: center;">

    <h1 style="
    padding-top:60px;
    font-size:48px;
    color:black;
    font-weight:bold;
    font-family: 'Georgia', 'Times New Roman', serif;
    letter-spacing:1px;
">
    chances of rain today.
</h1>


</body>
</html>
